USE [master]
GO
/****** Object:  Database [movieBucket]    Script Date: 3/6/2018 9:17:40 PM ******/
CREATE DATABASE [movieBucket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'movieBucket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\movieBucket.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'movieBucket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\movieBucket_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [movieBucket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [movieBucket]
GO
USE [movieBucket]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 3/6/2018 9:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[actor_Id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[sex] [nvarchar](50) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[bio] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[actor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 3/6/2018 9:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[movie_id] [uniqueidentifier] NOT NULL,
	[movie_name] [nvarchar](100) NOT NULL,
	[year_of_release] [numeric](4, 0) NOT NULL,
	[plot] [nvarchar](50) NOT NULL,
	[poster] [varbinary](max) NOT NULL,
	[producer_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movieactor]    Script Date: 3/6/2018 9:17:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieactor](
	[movie_id] [uniqueidentifier] NOT NULL,
	[actor_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_movieactor] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[actor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producer]    Script Date: 3/6/2018 9:17:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producer](
	[producer_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[sex] [nchar](10) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[bio] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_producer] PRIMARY KEY CLUSTERED 
(
	[producer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movie_producer] FOREIGN KEY([producer_id])
REFERENCES [dbo].[producer] ([producer_id])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_Movie_producer]
GO
ALTER TABLE [dbo].[movieactor]  WITH CHECK ADD  CONSTRAINT [FK_movieactor_Actors] FOREIGN KEY([actor_id])
REFERENCES [dbo].[Actors] ([actor_Id])
GO
ALTER TABLE [dbo].[movieactor] CHECK CONSTRAINT [FK_movieactor_Actors]
GO
ALTER TABLE [dbo].[movieactor]  WITH CHECK ADD  CONSTRAINT [FK_movieactor_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([movie_id])
GO
ALTER TABLE [dbo].[movieactor] CHECK CONSTRAINT [FK_movieactor_Movie]
GO
USE [master]
GO
